.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.errorMessage {
  font-size: .9rem;
  color: var(--color-error);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.inputWithButtonContainer {
  display: flex;
  justify-content: center;
  gap: .3rem;
}

.alingItemsCenter {
  align-items: center;
}

.alingItemsFlexEnd {
  align-items: flex-end;
}