.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .stackOnMobile {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .rowAlignCenter {
    display: flex;
    gap: .5rem;
    align-items: center;
  }
}