.wrapper {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.paginationNumber {
  display: flex;
  gap: .2rem;
}

.ellipsis {
  display: flex;
  align-items: flex-end;
  font-size: 1.4rem;
}