.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutContent {
  display: flex;
  flex: 1 0 auto;
}

.mainContainer {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  overflow-x: auto;
}