.accordion {
  background: var(--color-white-100);
  border-radius: 8px;
  padding: .75rem;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  cursor: pointer;
  padding: .35rem 0;
}

.summaryLeft {
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 0;
  text-overflow: ellipsis;
}

.actionsContainer {
  display: flex;
  align-items: center;
  margin-top: .75rem;
  padding-top: .75rem;
  border-top: 1px solid var(--color-gray-200);
}

.actions {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.chevron {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
  color: var(--color-text);
}

.accordion[open] > .summary > .chevron {
  transform: rotate(180deg);
}

.content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-top: .5rem;
  display: block;
}

/* Remove default marker for summary */
.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion summary {
  list-style: none;
}

.summaryLeft>* {
  min-width: 0;
}